In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("boros.csv")
df.head()

     borough  cats  population
0  Manhattan   107        1400
1   Brooklyn   205        3412
2      Bronx    33         323

In [6]:
df['cats_per_capita']= df['cats']/ df['population']
df.head()

     borough  cats  population  cats_per_capita
0  Manhattan   107        1400         0.076429
1   Brooklyn   205        3412         0.060082
2      Bronx    33         323         0.102167

In [7]:
#we want to have it print "low" or "high" instead of the number
cats_per_capita= 0.07
if cats_per_capita < 0.10:
    print("low")
else:
    print("high")

low

In [8]:
cat_pops= [.07, .06, .12]

for cat_pop in cat_pops:
    if cat_pop< 0.1:
        print("low")
    else:
        print("high")

low
low
high

In [9]:
len("HELLO")

5

In [10]:
sum([3, 3, 3])

9

In [ ]:
#RETURNING!!! gives something back

In [13]:
#this is a FUNCTION
#if you give it a row of your dataframe it will give you the number of cats per capita 
#this is basically like running a for loop, tells dataframe to perform this function on every row 
#always make what's after cats say ROW "def cats(row)"
#think about row as a dictionary

def cats_per_capita(row):
    return row['cats']/ row['population']
    
df.apply(cats_per_capita, axis= 1)

0    0.076429
1    0.060082
2    0.102167
dtype: float64

In [14]:
def cats_per_capita(row):
    print("I am looking at", row['borough'])
    return row['cats']/row['population']
df.apply(cats_per_capita, axis= 1)

I am looking at Manhattan
I am looking at Brooklyn
I am looking at Bronx

0    0.076429
1    0.060082
2    0.102167
dtype: float64

In [16]:
numbers = [1, 2, 3]
for num in numbers:
    print("I am looking at", num)

I am looking at 1
I am looking at 2
I am looking at 3

In [20]:
def looking_at_something(row):
    print("I am looking at", row)
    print("-----")
    
#add axis = 1 to go through each ROW
#by default pandas is stupid and goes through each column

df.apply(looking_at_something, axis=1)

I am looking at borough            Manhattan
cats                     107
population              1400
cats_per_capita    0.0764286
Name: 0, dtype: object
-----
I am looking at borough             Brooklyn
cats                     205
population              3412
cats_per_capita    0.0600821
Name: 1, dtype: object
-----
I am looking at borough               Bronx
cats                     33
population              323
cats_per_capita    0.102167
Name: 2, dtype: object
-----

0    None
1    None
2    None
dtype: object

In [21]:
def calculate_cats(row):
    if row['cats_per_capita'] < 0.1:
        return "low"
    else:
        return "high"

#You can just put the result into a new column!!!
df['cat_words']= df.apply(calculate_cats, axis=1)
df.head()

     borough  cats  population  cats_per_capita cat_words
0  Manhattan   107        1400         0.076429       low
1   Brooklyn   205        3412         0.060082       low
2      Bronx    33         323         0.102167      high

In [ ]:
def scrape_some_stuff(row):
    print("I am about to scrape", row['borough'])
    url= "http://www.cats.com/population/" + row['borough']
    print("Visiting", url)
    print("Found some cats with BeautifulSoup")
    print("----"
         
         )

In [ ]:
#so if you have a dataframe you can indent and make it a function

In [23]:
import time
#makes it wait a few seconds before appearing

In [24]:
time.sleep(5)
print("Hello")

Hello

In [ ]:
#SETTING HEADERS

def get_headline(row)
    print(row)
    print("----")
    url=

In [ ]:
#LEARN HOW TO CONTROL BROWSERS THROUGH PYTHON USING SELENIUM 
# you have to install pip3 into the terminal first 
# into the terminal put 'install pip3 selenium'

In [26]:
import selenium

In [ ]:
#Webdriver
#Firefox
#Safari 
#Chrome 
#you have to make sure you find the python code for selenium because a lot of languages use selenium